@font-face {
    font-family: "undertale";
    src: url("../font/DTM-Mono.otf");
}


.body{
    background-color: #191919;
    font-family: "undertale";
}

.ennemieContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20vh;
}

.ennemieImg {
    height: 50vh;
    margin-bottom: 2vh;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.containerHp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.valueHp {
    color: #C9C19F;
    font-size: 3vh;
}

.yen, .dpc {
    margin-top: 2vh;
    color: #C9C19F;
    font-size: 3vh;
}

.powerUp {
    margin-top: 2vh;
    color: #C9C19F;
    font-size: 2.5vh;
}

.yenNeeded {
    color: #F3F3F3;
    font-size: 2.8vh;
}

.yenNb {
    color: #F3F3F3;
}

.actualDpc {
    color: #93032E;
}


.yen_btn {
  background: #C9C19F;
  background-image: -webkit-linear-gradient(top, #C9C19F, #e0ddd3);
  background-image: -moz-linear-gradient(top, #C9C19F, #e0ddd3);
  background-image: -ms-linear-gradient(top, #C9C19F, #e0ddd3);
  background-image: -o-linear-gradient(top, #C9C19F, #e0ddd3);
  background-image: linear-gradient(to bottom, #C9C19F, #e0ddd3);
  -webkit-border-radius: 31;
  -moz-border-radius: 31;
  border-radius: 31px;
  color: #93032E;
  font-size: 17px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.yen_btn:hover {
  background: #e0ddd3;
  background-image: -webkit-linear-gradient(top, #e0ddd3, #C9C19F);
  background-image: -moz-linear-gradient(top, #e0ddd3, #C9C19F);
  background-image: -ms-linear-gradient(top, #e0ddd3, #C9C19F);
  background-image: -o-linear-gradient(top, #e0ddd3, #C9C19F);
  background-image: linear-gradient(to bottom, #e0ddd3, #C9C19F);
  text-decoration: none;
}

button:focus {outline:0;}



.ennemieHp[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 30vh;
  height: 2.5vh;
  margin-right: 2vh;
  margin-bottom: 1vh;
}

.ennemieHp[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.ennemieHp[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg,
	                           transparent 33%, rgba(0, 0, 0, .1) 33%,
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top,
	                           rgba(255, 255, 255, .25),
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #EDF7B5, #C9C19F);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
